@media screen and (max-width: 880px) {
    header{
        margin-top: 20px;
    }
    header p{
        text-align: center;
        font-size: 28px;
    
    }
    main{
        display: flex;
        flex-direction: column;

    }
    .vl{
        display: none;
    }

}