*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    display: block;
}

.btn{
    border: 2px solid black;
    background: black;
    color: white;
    padding: 10px 15px;
    font-size: 15px;
    width: 160px;
    height: 40px;
}
.btn:hover{
    background: transparent;
    color: black;
}
.btn-white{
    border: 2px solid white;
    background: white;
    color: black;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 15px;
}
.btn-white:hover{
    background: transparent;
    color: black;
}

header{
    /* border: 3px solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}
h1{
    margin: 10px 10px;
    font-size: 22px;
    font-weight: bolder;
}
header p{
    font-size: 30px;
    margin-bottom: 30px;
}

.sub-header{
    background: whitesmoke;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    /* margin: 15px 10px; */
    padding: 7px;
    

}
.sub-header h4{
    margin-left: 20px;
    padding: 15px 10px;
    font-size: 20px;
}
main{
    border: 2px solid black;
    border-radius: 20px; 
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;

}
.first-section{
    padding: 25px;
    text-align: justify;
}
.first-section h3{
    margin: 25px 0;
} 
.first-section p{
    margin: 20px 0;
}
.first-section h5{
    font-size: 18px;
    padding-top: 15px;
}
.first-section span{
    font-size: 50px;
}


ul{
    list-style: none;
    margin-top: 30px;
}
li{
    margin-bottom: 20px;
}
.vl{
    border-left: 3px solid black;
    height: 100vh;
    margin-right: 10px;
}

